/* Theme: Dark */
[data-theme="dark"] {
    --app-background-color: #212529;
    --app-text-color: #f8f9fa;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    --btn-background-color: #343a40;
    --btn-text-color: #f8f9fa;
    --cta-btn-background-color: #000;
    --cta-btn-text-color: #fff;
    --link-hover-text-color: #747bff;
    --color-gray-100: #f8f9fa;
    --color-gray-900: #212529;
}
