/* Theme: Gray */
[data-theme="gray"] {
    --app-background-color: #495057;
    --app-text-color: #e9ecef;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    --btn-background-color: #6c757d;
    --btn-text-color: #e9ecef;
    --cta-btn-background-color: #adb5bd;
    --cta-btn-text-color: #212529;
    --link-hover-text-color: #ced4da;
    --color-gray-100: #e9ecef;
    --color-gray-900: #343a40;
}
