/* Theme: Light */
[data-theme="light"] {
    --app-background-color: #f8f9fa;
    --app-text-color: #212529;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    --btn-text-color: #212529;
    --btn-background-color: #e9ecef;
    --cta-btn-text-color: #000;
    --cta-btn-background-color: #fff;
    --link-hover-text-color: #0d6efd;
    --color-gray-100: #f8f9fa;
    --color-gray-900: #212529;
}
