/* Theme: Red */
[data-theme="red"] {
    --app-background-color: #3d1f1f;
    --app-text-color: #ffebee;
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    --btn-background-color: #dc3545;
    --btn-text-color: #ffebee;
    --cta-btn-background-color: #ef5350;
    --cta-btn-text-color: #3d1f1f;
    --link-hover-text-color: #ef5350;
    --color-gray-100: #ffebee;
    --color-gray-900: #3d1f1f;
}
