.buttons {
    min-height: calc(1.2 * var(--min-input-height));
}

.menu {
    min-height: 600px;
    min-width: 200px;
}

.menu[role="navigation"] ul {
    padding: 0;

    & li {
        list-style: none
    }
}
