:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark light;
    margin: 0 auto;
    max-width: 1280px;

    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --min-gap: 4px 8px;
    --margin: var(--min-gap);

    --min-padding: 2px 4px;
    --padding: var(--min-padding);

    --min-button-width: 60px;
    --min-input-width: 60px;
    --min-input-height: 40px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 800px;
}

button,
a.btn,
*[role="button"],
input {
    margin: var(--margin);
    padding: var(--padding);
    line-height: 1.4;
}

button,
a.btn,
*[role="button"] {
    min-width: var(--min-button-width);
    min-height: var(--min-input-height);

}

input {
    min-height: var(--min-input-height);
    min-width: var(--min-input-width);
}

.flex {
    display: flex;
    gap: 20px;
}

.vflex {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.sb {
        justify-content: space-between;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
