:root {

    --min-gap: 4px;
    --margin: var(--min-gap);

    --min-padding: var(--min-gap) calc(var(--min-gap) * 2);
    --padding: var(--min-padding);

    --min-button-width: 60px;
    --min-input-width: 100px;
    --min-input-height: 40px;

    --flex-gap: 10px;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    margin: 0 auto;
    max-width: 1280px;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    min-width: 1000px;
}

body {

    & *,
    & *::after,
    & *::before {
        box-sizing: border-box;
    }
}

button,
a.btn,
*[role="button"] {
    padding: var(--min-padding);
    margin: var(--margin);
    /* border: 2px solid currentColor; */

    &:hover {
        cursor: pointer;
    }

    &[disabled] {
        cursor: not-allowed;
    }

    &.cta {
        border: thick double currentColor;
    }
}

a {
    &:hover {
        opacity: 0.8;
    }
}

input {
    padding: var(--min-padding);
    margin: var(--margin);
}

input[type="text"],
input[type="password"] {
    min-height: 56px;
}

.flex {
    display: flex;
    gap: var(--flex-gap);
}

.vflex {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.flex,
.vflex {
    &.vac {
        align-items: center;
    }

    &.hac {
        justify-content: center;
    }

    &.sb {
        justify-content: space-between;
    }
}

.w0 {
    min-width: 0;
    width: 0vw;
}

.w10 {
    min-width: 100px;
    width: 10vw;
}

.w20 {
    min-width: 200px;
    width: 20vw;
}

.w30 {
    min-width: 300px;
    width: 30vw;
}

.w40 {
    min-width: 400px;
    width: 40vw;
}

.w50 {
    min-width: 500px;
    width: 50vw;
}

.w60 {
    min-width: 600px;
    width: 60vw;
}

.w70 {
    min-width: 700px;
    width: 70vw;
}

.w80 {
    min-width: 800px;
    width: 80vw;
}

.w90 {
    min-width: 900px;
    width: 90vw;
}

.w100 {
    min-width: 1000px;
    width: 100vw;
}

.w0p {
    min-width: 0;
    width: 0%;
}

.w10p {
    min-width: 100px;
    width: 10%;
}

.w20p {
    min-width: 200px;
    width: 20%;
}

.w30p {
    min-width: 300px;
    width: 30%;
}

.w40p {
    min-width: 400px;
    width: 40%;
}

.w50p {
    min-width: 500px;
    width: 50%;
}

.w60p {
    min-width: 600px;
    width: 60%;
}

.w70p {
    min-width: 700px;
    width: 70%;
}

.w80p {
    min-width: 800px;
    width: 80%;
}

.w90p {
    min-width: 900px;
    width: 90%;
}

.w100p {
    min-width: 1000px;
    width: 100%;
}

.box {
    padding: var(--padding);
    margin: var(--margin) 0;
    border: thin solid currentColor;

    &.error {
        border: thin solid currentColor;
    }
}

.editable {
    cursor: text;
}

.clickable {
    cursor: pointer;
}

/* margins start */
.m0_2 {
    margin: 0 2vw;
}

/* margins end */


/* font start */
.fs4 {
    font-size: calc(4 * 8px);
}

.fwb {
    font-weight: bold;
}